body{
    background-color: #00b4d8;
    font-family: "Nunito", sans-serif;
} 
/* alter the color of all h2 and h3*/
h2,h3{
    color:#ffb703;
    font-weight: 150;
    font-size: 2rem;
}
/* control the style of paragraphs inside of articles articles */
article p{
    color: #6a040f;
    font-weight: 100;
    font-size: 1.15rem;
    line-height: 1.75;
}
/*add margin to first div in section*/
section>div{
    margin-bottom: 1rem;
}
/*alter the brand*/
#main-navbar{
    font-size: 1.3rem;
    font-weight: 500;
}
#main-navbar .nav-link{
    color:black
}
#main-navbar .nav-link:hover{
    color:#ffb703;
}   
#main-navbar .navbar-brand, #heading-group span{
    color: #ffb703;
}
#heading-group h1{
    font-weight: 150;
    font-size: 2.5rem;
}
.navbar.scrolled{
    background: #6a040f;
    transition: background 500ms;
}
@media(max-width:1100px){
    #heading-group h1{
        font-weight: 150;
        font-size: 2rem;
    }
}
